.p-feature__inner {
    max-width: 1120px;
    margin-inline: auto;
    padding-left:$padding-pc;
    padding-right: $padding-pc;
    @include mq(tb) {
        max-width: 500px;
        padding-left:$padding-sp;
        padding-right: $padding-sp;
    }
}

.p-feature__content {
    border: 3px solid $main;
    padding: 90px 40px;
    background-color: $base;
    position: relative;
    border-radius: 5px;
    @include mq(tb) {
        border-radius: 20px;
        padding: 40px 15px;
    }
}

.p-feature__title {
    background-color: $base;
    padding: 20px 40px;
    font-size: 40px;
    color: $navy;
    font-weight: $bold;
    text-align: center;
    max-width: 682px;
    width: 100%;
    position: absolute;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
    @include mq(tb) {
        font-size: 20px;
        max-width: 232px;
        padding: 10px 20px;
    }

    small {
        font-size: 32px;
        @include mq(tb) {
            font-size: 18px;
        }
    }

    span {
        color: $main;
        font-size: 48px;
        @include mq(tb) {
            font-size: 28px;
        }

        small {
            font-size: 42px;
            @include mq(tb) {
                font-size: 24px;
            }
        }
    }
}

.p-feature__text {
    font-size: 24px;
    font-weight: $medium;
    line-height: 1.5;
    @include mq(tb) {
        font-size: 17px;
    }
}

