.p-qa {
    padding: 119px 0 132px;
    width: 100%;
    background-color: $back4;
    @include mq(pc) {
        padding: 9.79vw 0 10.9vw;
    }
    &__title {
        text-align: center;
        font-size: 38px;
        @include mq(pc) {
            @include fz_vw(60);
        }
        @include mq() {
            @include fz_vw-sp(20);
        }
    }
    &__item {
        width: 947px;
        margin-top: 107px;
        margin-right: auto;
        margin-left: auto;
        &:nth-of-type(1) {
            margin-top: 143px;
            @include mq(pc) {
                margin-top: 11.93vw;
            }
        }
        @include mq(pc) {
            width: 78.12vw;
            margin-top: 8.85vw;
        }
        @include mq() {
            margin-top: 12vw;
            width: 80vw;
        }
    }
    &__q {
        position: relative;
        font-size: 30px;
        @include mq(pc) {
            @include fz_vw(48);
        }
        @include mq() {
            @include fz_vw-sp(20);
        }
        &::before {
            content: "Q";
            position: absolute;
            top: -91px;
            left: -49px;
            font-size: 126px;
            z-index: -1;
            color: $main;
            opacity: 0.2;
            font-family: "Times New Roman", Times, serif;
            @include mq(pc) {
                top: -7.5vw;
                left: -4.06vw;
                @include fz_vw(200);
            }
            @include mq() {
                top: -12vw;
                left: -8vw;
                @include fz_vw-sp(70);
            }
        }
    }
}
